*{  
    padding: 0;  
    margin: 0;  
    box-sizing: border-box; 
    outline: none; 
  }
  body{  
    height: 100vh;  
background-size: cover;  
position: relative;}  

  .container{
position: absolute;
right: 20%;
top: 10%;
background: #fff; 
padding: 30px 10px;
border-radius: 5px;  
 text-align: center;
 box-shadow: 20px 19px 20px 0px #00000042;
 background:url("./assets/white-blue.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 

  }
  h3{  
    font-size: 30px;  
    font-weight: 600;  
  }  
  input[type="number"]{  
    width: 100%;  
    font-weight: 600;  
    padding: 12px 0;  
    font-size: 22px;  
    text-align: center;  
    margin-top: 30px;  
    border-radius: 5px;  
    border: 2px solid #202020;  
    color: #00d4ff;  
  }  
  button{  
    width: 50%;  
    padding: 15px 0;  
    margin: 0%;
    border-radius: 5px;  
    background-color: #00d4ff;  
    color: #fff;  
    border: none;  
    font-size: 18px;  
    font-weight: 600;  
    margin-bottom: 10px; 
    margin-top: 10px; 
    text-align: center;
    cursor: pointer;
  }  
  p{  
    font-size: 20px;
    font-weight: 400;  
  } 